@import "./../../Common/styles/variable.scss";
.wrapper {
  > h1 {
    text-align: center;
  }
  > ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    li {
      display: block;
      margin: 0px 10px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $secondaryColor;
      }
    }
  }
}
