@import "./../../Common/styles/variable.scss";
.productImageWrapper {
  background-color: $productImageBg;
  padding: 20px;
  img {
    width: 100%;
  }
}

.productDetailWrapper {
  margin: 10px 0px;
  h2 {
    font-size: 32px;
  }
  h3 {
    color: $secondaryColor;
    font-weight: 400;
    font-size: 20px;
  }
  h4 {
    color: $secondaryColor;
    font-weight: 100;
    font-size: 20px;
    margin: 0px;
  }
}

.availableSizes {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    padding: 0px 10px;
    margin: 0px;
    li {
      padding: 0px;
      &::marker {
        content: none;
      }
      button {
        text-decoration: none;
        font-weight: 100;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
        color: $secondaryColor;
      }
    }
  }
}

.availableColors {
  margin: 10px 0px;
  > div {
    display: flex;
    button {
      margin: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.selectedColor {
  border: 1px solid #000;
}

.description {
  margin-top: 20px;
  > h4 {
    font-weight: 700;
    color: $secondaryColor;
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    color: $secondaryColor;
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
  }
}
